<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>795356417817-6t4v534t6rhav20on4r6sqjl2grqphm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795356417817-6t4v534t6rhav20on4r6sqjl2grqphm5</string>
	<key>API_KEY</key>
	<string>AIzaSyC_o7B3I2_wq5TG3PY4DOh04ZxgkpHln-M</string>
	<key>GCM_SENDER_ID</key>
	<string>795356417817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.gifton.Thoughts</string>
	<key>PROJECT_ID</key>
	<string>thoughts-8e002</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-8e002.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795356417817:ios:0a30c284f181e0df</string>
	<key>DATABASE_URL</key>
	<string>https://thoughts-8e002.firebaseio.com</string>
</dict>
</plist>